{% extends "base.html" %}

{% block content %}

    <script>
        socket = new WebSocket("ws://" + window.location.host + "/chat/");
        socket.onmessage = function (e) {
            alert(e.data);
        }
        socket.onopen = function () {
            socket.send("hello world");
        }
        // Call onopen directly if socket is already open
        if (socket.readyState == WebSocket.OPEN) socket.onopen();
    </script>
    <form method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td>用户名:</td>
                <td><input id="txtUser" name="user" width="50"/></td>
            </tr>
            <tr>
                <td>密码:</td>
                <td><input id="txtPwd" type="password" name="pwd" width="50"/></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" content="提交"/></td>
            </tr>
        </table>
        {% verbatim %}
        <div id="app">
         <span v-bind:title="message">
            鼠标悬停几秒钟查看此处动态绑定的提示信息！
          </span>
            <ol>
                <li v-for="todo in todos">
                    <span v-bind:title="todo.text">{{ todo.text }}</span>
                </li>
            </ol>
        </div>
        {% endverbatim %}
    </form>


    <script>
        var app = new Vue({
            el: '#app',
            data: {
                message: 'Hello Vue!',
                todos: [
                    {text: '学习 JavaScript'},
                    {text: '学习 Vue'},
                    {text: '整个牛项目'}
                ]
            }
        })
    </script>

{% endblock content %}