<html>
<head>
    <meta name="viewport" content="width=device-width">
    {% load static %}
    {#    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>#}
    {#    <script src="{% static 'js/socket.io.js' %}"></script>#}
    <script src="{% static 'js/VideoFrame.js' %}"></script>
    <script src="{% static 'js/DataClass.js' %}"></script>
    <style>
        canvas {
            border: 1px solid transparent;
            position: absolute;
        }
    </style>
</head>

<body>

<div style="position:relative;left:10%;top:10%">

    <div id="divCanvas"
         style="position:absolute;left:0;top:0;z-index: 10;width: 1280px;height: 720px;">
        <div style="position:relative;left:40%;top:40%">
            <h2>Loading</h2>
        </div>
    </div>

    <div style="position:absolute;top:0;left:0; ">
        <video id="videoplayer1" autoplay
               style="position:absolute;top:0;left:0; width: 1280px;height: 720px;z-index: 1 ">
            {#            <source src="{% static 'video/test1.mp4' %}" type="video/mp4">#}
        </video>

        <video id="videoplayer2" autoplay
               style="position:absolute;top:0;left:0; width: 1280px;height: 720px;z-index: 0 ">
        </video>
    </div>

</div>

<script>
    'use strict';
    const WS_DATA_SERVER = 'ws://172.16.4.166:8080';
    const WS_VIDEO_SERVER = 'ws://172.16.16.88:4589';
    const VIDEOFRAMERATE = 25;
    const RENDER_INTERVAL = 20;

    var canvasDict = new Dictionary();
    var layerDict = new Dictionary();
    var videoFrame1 = new VideoFrame({id: "videoplayer1", frameRate: VIDEOFRAMERATE});
    var videoFrame2 = new VideoFrame({id: "videoplayer2", frameRate: VIDEOFRAMERATE});
    var videoPlayer1 = document.getElementById("videoplayer1");
    var videoPlayer2 = document.getElementById("videoplayer2");

    function addVidePlayerEvent(videoPlayer, ev, func) {
        videoPlayer.addEventListener(ev, func, false);
    }

    function scaleXByVideo(videoPlayer, x) {
        var result = x / videoPlayer.videoWidth * videoPlayer.clientWidth;
        //result = Math.max(result, 200);
        return result;
    }

    function scaleYByVideo(videoPlayer, y) {
        var result = y / videoPlayer.videoHeight * videoPlayer.clientHeight;
        return result;
    }

    var removeAllDrawObjects = function () {
        // $("#divCanvas").empty();
        var divCanvas = document.getElementById("divCanvas");
        while (divCanvas.childNodes.length > 0) {
            divCanvas.removeChild(divCanvas.firstChild);
        }
        canvasDict.clear();
    }

    addVidePlayerEvent(videoPlayer1, "canplaythrough", removeAllDrawObjects);
    addVidePlayerEvent(videoPlayer2, "canplaythrough", removeAllDrawObjects);

    function threadSleep(sleepDuration) {
        var now = new Date().getTime();
        while (new Date().getTime() < now + sleepDuration) { /* do nothing */
        }
    }

    function getMaxTextLen(rectObj, ctx) {
        var result = 0;
        if (!(rectObj && ctx)) {
            result = 50;
            return result;
        }

        for (var index in rectObj.descs) {
            var item = rectObj.descs[index];
            var width = ctx.measureText(item.descvalue).width;
            if (width > result) {
                result = width;
            }
        }
        return result;
    }

    function drawRectByTime(second) {
        removeAllDrawObjects();
        var player = videoPlayer1.style.zIndex == 1 ? videoPlayer1 : videoPlayer2;
        console.log("current Time:%s,palyer:%s,layerDict.len:", second, videoPlayer1.style.zIndex == 1 ? "player1" : " === player2", layerDict.size());
        var timeObj = layerDict.get(second);
        if (timeObj == undefined) {
            return;
        }
        var i = 1;
        for (var index in timeObj.objects) {
            var item = timeObj.objects[index];
            var cvs = canvasDict.get(item.objid)
            if (cvs != null) {
                cvs.style.left = scaleXByVideo(player, item.x);
                cvs.style.top = scaleYByVideo(player, item.y);
                {#                console.log("---> move rect left:%s, top:%s ,current time:%s", cvs.style.left, cvs.style.top, second);#}
                continue;
            }
            var canvas = document.createElement("canvas");
            var ctx = canvas.getContext("2d");
            var rectWidth = scaleXByVideo(player, item.width);
            var rectHeight = scaleYByVideo(player, item.height);
            var maxTexLen = getMaxTextLen(item, ctx) + 10;//10 for padding
            canvas.width = rectWidth + maxTexLen;
            canvas.height = rectHeight;
            canvas.style.left = scaleXByVideo(player, item.x);
            canvas.style.top = scaleYByVideo(player, item.y);
            canvasDict.put(item.objid, canvas);
            document.getElementById("divCanvas").appendChild(canvas);
            {#            $('#divCanvas').append(canvas);#}
            {#            console.log("++++ add canvas left:%s , top:%s , width:%s, height:%s , current time:%s", canvas.style.left,#}
            {#                canvas.style.top, canvas.width, canvas.height, second);#}

            ctx.strokeStyle = item.drawcolor;
            ctx.lineWidth = i++;
            ctx.strokeRect(0, 0, rectWidth, rectHeight);

            var txtStartX = rectWidth + 10, txtStartY = 10;
            var fontSize = 10;
            for (var index in item.descs) {
                ctx.fillStyle = "";
                var desc = item.descs[index];
                ctx.fillStyle = "#FF3E4265";
                ctx.fillRect(txtStartX, txtStartY - 10, maxTexLen, parseInt(fontSize, 10) + 3);
                ctx.fillStyle = item.drawcolor;
                ctx.fontSize = fontSize;
                ctx.fillText(desc.descvalue, txtStartX, txtStartY);
                txtStartY += 20;
                ctx.fillStyle = "";
            }
        }
    }

    //structure data
    {#    var socket = io('http://172.16.4.166:80');#}
    {#    socket.on('server', function (data) {#}
    {#        console.log(data);#}
    {#        dataList.push(data);#}
    {#        layerDict.clear();#}
    {#        var layerData = data.overlays;#}
    {#        for (var item of layerData) {#}
    {#            layerDict.put(item.time, new TimeObject(item));#}
    {#        }#}
    {#        console.log("layerDict.len:" + layerDict.size());#}
    {#        socket.emit('client', {my: 'data'});#}
    {#    });#}

    //structure data
    var wsdata = new WebSocket(WS_DATA_SERVER);
    wsdata.onopen = function () {
        console.log("web socket connected succeed");
    };
    wsdata.onmessage = function (evt) {
        var data = JSON.parse(evt.data);
        console.log(data);
        {#        dataList.push(data);#}
        layerDict.clear();
        var layerData = data.overlays;
        for (var index in layerData) {
            var item = layerData[index];
            layerDict.put(item.time, new TimeObject(item));
        }
    }

    setInterval(function () {
        var currentFrame = videoPlayer1.style.zIndex == 1 ? videoFrame1.get() : videoFrame2.get();
        currentFrame = currentFrame.toFixed(0);
        drawRectByTime(currentFrame);
    }, RENDER_INTERVAL);

    //video data
    var wsVideo = new WebSocket(WS_VIDEO_SERVER);
    wsVideo.onopen = function () {
        console.log("web socket connected succeed");
        wsVideo.send('startvideo=rtsp://172.16.16.88:4588/vs/rp/A414374375B6/1/1/');
    };

    wsVideo.onerror = function (error) {
        console.log("web socket connected failed" + error);
    };
    wsVideo.onmessage = function (evt) {
        var data = JSON.parse(evt.data);
        if (data.code == "200" && data.filename != null) {
            if (videoPlayer1.src == "") {
                videoPlayer1.src = data.filename;
                return;
            }
            if (wsdata.readyState == WebSocket.OPEN) {
                wsdata.send(JSON.stringify({my: 'data'}));
            }
            if (!videoPlayer1.paused) {
                videoPlayer2.src = data.filename;
                videoPlayer2.style.zIndex = 1;
                videoPlayer1.style.zIndex = 0;
            } else {
                videoPlayer1.src = data.filename;
                videoPlayer1.style.zIndex = 1;
                videoPlayer2.style.zIndex = 0;
            }
        }
    }
</script>

</body>
</html>
