#div_top {
    margin-top: 30px;
    margin-left: 30px;
}

#div_left {
    float: left;
    width: 10%;
}

#div_center {
    float: left;
    margin-left: 30px;
    padding-left: 30px;
    width: 80%;
}

#div_right {
    float: left;
    width: 10%;
}

.table_header {
    background: #79aec8;
}

.fieldset_no_border {
    border: none;
}

.div_input {
    border-bottom: 1px solid #eee;
}

